[submodule "gists/boids"]
	path = gists/boids
	url = https://gist.github.com/7145520.git
[submodule "gists/torus"]
	path = gists/torus
	url = https://gist.github.com/7078992.git
[submodule "gists/quine"]
	path = gists/quine
	url = https://gist.github.com/7060918.git
[submodule "gists/zebra-puzzle"]
	path = gists/zebra-puzzle
	url = https://gist.github.com/6952960.git
[submodule "gists/maze"]
	path = gists/maze
	url = https://gist.github.com/6857333.git
[submodule "gists/autostereogram"]
	path = gists/autostereogram
	url = https://gist.github.com/5736733.git
[submodule "gists/penrose-tiling"]
	path = gists/penrose-tiling
	url = https://gist.github.com/5732587.git
[submodule "gists/digraph"]
	path = gists/quadratic-residues
	url = https://gist.github.com/5694738.git
[submodule "gists/world-choropleth"]
	path = gists/world-choropleth
	url = https://gist.github.com/5537192.git
[submodule "gists/psychedelic-animation"]
	path = gists/psychedelic-animation
	url = https://gist.github.com/5522065.git
[submodule "gists/us-choropleth"]
	path = gists/us-choropleth
	url = https://gist.github.com/5514551.git
[submodule "gists/arnolds-cat-map"]
	path = gists/arnolds-cat-map
	url = https://gist.github.com/5491968.git
[submodule "gists/heighways-dragon"]
	path = gists/heighways-dragon
	url = https://gist.github.com/5285431.git
[submodule "gists/chroma-spirals"]
	path = gists/chroma-spirals
	url = https://gist.github.com/5278162.git
[submodule "gists/turmites"]
	path = gists/turmites
	url = https://gist.github.com/5259306.git
[submodule "gists/flower-of-life"]
	path = gists/flower-of-life
	url = https://gist.github.com/5257851.git
[submodule "gists/champernowne"]
	path = gists/champernowne
	url = https://gist.github.com/5233367.git
[submodule "gists/turtle-demo"]
	path = gists/turtle-demo
	url = https://gist.github.com/5229369.git
[submodule "gists/simple-demo"]
	path = gists/simple-demo
	url = https://gist.github.com/5201050.git
[submodule "gist/glass-box"]
	path = gists/glass-box
	url = https://gist.github.com/c91e2ce2e68ea4969c76.git
[submodule "lorenz-attractor"]
	path = gists/lorenz-attractor
	url = https://gist.github.com/05e64fa45aea27755240.git
[submodule "radiant-and-simple"]
	path = gists/radiant-and-simple
	url = https://gist.github.com/896d4599eff07b7493e0.git
[submodule "10-print"]
	path = gists/10-print
	url = https://gist.github.com/4bf4ce47c4f615e9cfe6.git
[submodule "gist/collatz-orbit"]
	path = gists/collatz-orbit
	url = https://gist.github.com/11890fb5bb8789847259.git
[submodule "nks1"]
	path = gists/nks1
	url = https://gist.github.com/968c6f0ab6b14e20e4fa.git
[submodule "gists/plasma"]
	path = gists/plasma
	url = https://gist.github.com/1be4335002213cce2999.git
[submodule "gists/illusory-cones"]
	path = gists/illusory-cones
	url = https://gist.github.com/efee7bef4dcc615728a7.git
[submodule "gists/newtons-method"]
	path = gists/newtons-method
	url = https://gist.github.com/89f92e408c66179914a2.git
[submodule "gists/biomorph-designer"]
	path = gists/biomorph-designer
	url = https://gist.github.com/4dc725bc783416fbbdda.git
[submodule "gists/cumulative-selection"]
	path = gists/cumulative-selection
	url = https://gist.github.com/8347c8fd72570d7a8b32.git
[submodule "gists/lissajous-curve"]
	path = gists/lissajous-curve
	url = https://gist.github.com/0e25ddb2b667f9e24ce9.git
[submodule "gists/recursive-tree"]
	path = gists/recursive-tree
	url = https://gist.github.com/4a74ef32e6956801b289.git
[submodule "gists/cellular-automata"]
	path = gists/cellular-automata
	url = https://gist.github.com/2e6bb141d9361fb1af03.git
[submodule "gists/barnesley-fern"]
	path = gists/barnesley-fern
	url = https://gist.github.com/b971d77087ff873ed7c2.git
[submodule "gists/fractal"]
	path = gists/fractal
	url = https://gist.github.com/b30f4c0e7d499810e669.git
[submodule "gists/yamátárájabhánasalagám"]
	path = gists/yamátárájabhánasalagám
	url = https://gist.github.com/bac724292cc7578dc182.git
[submodule "gists/solar-system"]
	path = gists/solar-system
	url = https://gist.github.com/9904891.git
[submodule "gists/photosphere"]
	path = gists/photosphere
	url = https://gist.github.com/9842972.git
[submodule "gists/polyhedra"]
	path = gists/polyhedra
	url = https://gist.github.com/9261323.git
[submodule "chess"]
	path = gists/chess
	url = https://gist.github.com/8906851.git
[submodule "gists/parametric-equations"]
	path = gists/parametric-equations
	url = https://gist.github.com/8776719.git
[submodule "gists/big-bang-rps"]
	path = gists/big-bang-rps
	url = https://gist.github.com/8723389.git
