html {
	margin:0;
	padding:0;
	border:0;
}

body {
    overflow-y: scroll;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	margin: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

html,body {
	line-height: 1.5;
	background: white;
    color: black;
    width: 100%;
    height: 100%;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	float:none !important;
}
table, th, td {
	vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

div#wrapper {
    min-height: 98%;
}

div#info {
    position: absolute;
    display: block;
    color: yellow;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0,0,0, 0.25);
}

.gist {
    font-size: 75% !important;
    width: 800px;
}

div#not-found {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/404.jpg");
    background-size: cover;
}
div#not-found p {
    font-weight: bold;
    font-size: 36pt;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 0 0 #555, 0 -1px 0 #555, 0 1px 0 #555, -1px 0 0 #555;
    margin: 10px;
}

section.container {
    margin: 0 auto;
    width: 960px;
}

div.meta {
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 28px;
    text-shadow: 1px 1px 0 #fff;
    color: #495961;
}

div.meta {
    color: #666666;
}

div.meta div.author img {
    border-radius: 3px;
    margin-right: 2px;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

div.meta a {
    color: #4183c4;
    white-space: nowrap;
    text-decoration: none;
}

div.author span {
    margin-left: 5px;
}

.gist-timestamp {
    color: #999999;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0;
    display: block;
    margin-top: -5px;
    margin-left: 29px;
}

.stats {
    float: right;
}

.gist-header {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding: 20px 0 0 0;
}

.stats,
.gist-description {
    color: #666666;
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.stars>a {
    color: #666666!important;
}

.meta h1 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 28px;
    text-shadow: 1px 1px 0 #fff;
    color: #495961;
    z-index: 0;
}

div#error {
    display: none;
    position: relative;
    left: auto;
    right: auto;
    padding: 1em;
    background: #FECBCB;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    margin: 0.5em;
}

div#stacktrace {
    height: 400px;
    overflow-y: auto;
}

div#error h1 {
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: url("../images/error.png") no-repeat;
    background-size: 24px;
    padding-left: 24px;
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
    div#error h1 {background: url("../images/error@2x.png") no-repeat;}
}

div#error h3.info {
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

div#error td.method, div#error td.source {
    font-family: monospace;
    font-size: 12px;
    padding-left: 20px;
    width: 250px;
    color: #666666;
}

div#error tr:hover {
    background-color: rgba(255,0,0,0.25);
    cursor: pointer;
}

div#console,
canvas#world,
svg#world {
    display: none;
}

div#console {
    border:  1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    margin-bottom: 1em;
    width: 800px;
    height: 150px;
    overflow-y: scroll;
}

#console {
    font-size: 75% !important;
    color: #999988;
}
.markdown-body {
    padding: 20px;
    font: 13.34px Helvetica, arial, freesans, clean, sans-serif;
    background-color: white;
    font-size: 15px;
    line-height: 1.7;
}
.markdown-body>*:first-child {
    margin-top: 0 !important;
}
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
    margin: 15px 0;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
.gallery-parent {
}
.gallery-panel {
    display: inline-block;
    width: 450px;
    vertical-align: top;
    padding: 20px 20px 0 0;
}
h1 {
    color: #4183c4;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}
.gist-description a {
    color: #4183c4;
} 
.gist-description p {
    padding-bottom: 10px;
}
